*.npz
*.h5
*.tar.gz
*.log
*.pkl
*.pyc
model*.json
venv/
bin/
include/
lib/
local/
share/
output/
full_test.local.sh
dataset.index.json
dataset_cleaned/
dataset_cleaned_sliced/
dataset/
*bow/*.pkl
*bow/*.xml
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
